@namespace BlazorMix
@inherits BmDomComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <div class="@_classBuilder.ToString() @Class.ToString()"
         style="@Style.ToString()"
         @onclick="@OnClick">
        @ChildContent
    </div>
</CascadingValue>
