@namespace BlazorMix
@inherits BmDomComponentBase

<AniMask Visible="@Props.Visible"
      OnClick="@Props.OnMaskClick"
      DestroyOnClose="@true"
      Opacity="@(0)"
      DisableBodyScroll="@(false)"
      Container="@("")"
      AfterClose="@Props.AfterClose"
      Style="@($";pointer-events:{(Props.MaskClickable ? "none":"auto")};{Props.MaskStyle}")"
      Class="@($" {PrefixCls}-mask {Props.MaskClass}")">
    <div class="@($"{PrefixCls}-wrap")">
        <div style="@_top"
             class="@_mainClass">
            @if (_iconElement != null)
            {
                <div class="@($"{PrefixCls}-icon")">
                    @_iconElement
                </div>
            }
            <AutoCenter>@Props.Content.Node</AutoCenter>
        </div>
    </div>
</AniMask>
