
<DemoBlock Title="填充模式">
    <Button Color="@ButtonColor.Primary" Fill="@ButtonFillType.Solid">solid</Button>
    <Button Color="@ButtonColor.Primary" Fill="@ButtonFillType.Outline">Outline</Button>
    <Button Color="@ButtonColor.Primary" Fill="@ButtonFillType.None">None</Button>
</DemoBlock>

<DemoBlock Title="块状按钮">
    <Button Color="@ButtonColor.Primary" Block>Block</Button>
</DemoBlock>

<DemoBlock Title="大小">
    <Space Wrap>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Size="@ButtonSize.Mini">Mini</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Size="@ButtonSize.Smalll">Smalll</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Size="@ButtonSize.Medium">Medium(default)</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Size="@ButtonSize.Large">Large</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Size="@ButtonSize.ExtraLarge">ExtraLarge</Button>
        </SpaceItem>
    </Space>
</DemoBlock>

<DemoBlock Title="形状">
    <Space Wrap>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Shape="@ButtonShape.Circle">
                <Icon>
                    <IconPark.AllApplication />
                </Icon>
            </Button>
        </SpaceItem>

        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Shape="@ButtonShape.Rounded">Rounded(default)</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Shape="@ButtonShape.Rectangular">Rectangular</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary" Shape="@ButtonShape.Capsule">Capsule</Button>
        </SpaceItem>
    </Space>
</DemoBlock>

<DemoBlock Title="语义">
    <Space Wrap>
        <SpaceItem>
            <Button Color="@ButtonColor.Default">Default</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Primary">Primary</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Success">Success</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Warning">Warning</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Danger">Danger</Button>
        </SpaceItem>
        <SpaceItem>
            <Button Color="@ButtonColor.Info">Info</Button>
        </SpaceItem>
    </Space>
</DemoBlock>

<DemoBlock Title="加载状态">
    <Space Wrap>
        <SpaceItem>
            <Button Loading>
                Loading
            </Button>
        </SpaceItem>

        <SpaceItem>
            <Button AutoLoading OnClick="@(async () => await Task.Delay(2000))">
                Auto Loading
            </Button>
        </SpaceItem>
    </Space>
</DemoBlock>